# Python
__pycache__/
*.pyc
EEG_data_vis/code/.ipynb_checkpoints/
# Data
.ipynb_checkpoints/
*.html
FoundationModel_EEG_Dissertation/Main_project/data/
*.csv
*.mat
*.npy
*.npz

# Models
*.keras
*.h5
*.pt
*.pth

# Logs
FoundationModel_EEG_Dissertation/Main_project/logs/
FoundationModel_EEG_Dissertation/Main_project/results/
Main_project/results
Main_project/data
# Env
.env
.mamba/
Main_project/code/plots_html/
.ipynb_checkpoints/

Main_project/code/plots_html/
.ipynb_checkpoints/
